<div class="row">
  <div class="col-md-6 col-sm-3" *ngIf="homeDetails">

    <div class="row">
      <div class="col-sm-3">
        <b>Display Name:</b>
      </div>
      <div class="col-sm-9">
        <approve-input [value]="homeDetails.displayName" name="displayName" (onChanged)="onChanged($event)"></approve-input>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <b>First Name:</b>
      </div>
      <div class="col-sm-9">
        <approve-input [value]="homeDetails.firstName" name="firstName" (onChanged)="onChanged($event)"></approve-input>
      </div>
    </div>


    <div class="row">
        <div class="col-sm-3">
          <b>Last Name:</b>
        </div>
        <div class="col-sm-9">
          <approve-input [value]="homeDetails.lastName" name="lastName" (onChanged)="onChanged($event)"></approve-input>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
          <b>Location:</b>
        </div>
        <div class="col-sm-9">
          <approve-input [value]="homeDetails.location" name="location" (onChanged)="onChanged($event)"></approve-input>
        </div>
    </div>
    <p *ngIf="homeDetails?.locale"><strong>Locale:</strong> {{homeDetails?.locale}}</p>
    <div *ngIf="homeDetails?.pictureUrl"><img src="{{homeDetails?.pictureUrl}}" /></div>
  </div>
</div>